:root
{
    --max-height: 85px;
    --min-height: 75px;

    --title-color:rgb(207,51,65);
    --regular-text: rgb(36, 35, 35);

    --sign-colour-blue: rgb(8,37,182);
    --sign-colour-yellow: rgb(255,191,64);
    --sign-colour-red: rgb(207,51,65);

    --alter-background: rgb(241,241,241);
}


.headImageContainer{
    max-height: 200px;
    aspect-ratio: 1.7/1;
    width: 100%;
    overflow: hidden;

    background-color: var(--alter-background);

    position: relative;
}

.headImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 100% 60%;
}

.iconStyle{
    width: 1.5em;
    background-color: transparent;
}

.headerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 80%;
    gap: 15px;
    background-color: white;
    max-width: 1000px;
    -webkit-border-radius: 25px;
}

.headerDiv > h1{
    color: var(--title-color);
    text-align: center;
}

.headerDiv > p{
    font-family: 'Open Sans', sans-serif;
    color: var(--body-text-colour);
    width: 80%;
}

@media (min-width: 600px){
    
    .headerDiv{
        transform: translateY(-50px);
    }
}


.outerPanelDiv{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.panelDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em ;
    row-gap: 1em ;
    width: 100%;
    max-width: 80%;
    padding: 1em;
}

.panel{
    box-shadow: 0px 1px 10px rgb(159, 153, 153);
    flex: 1;
    border-radius: 5%;

    
    overflow: hidden;
}

.panelImg{
    background-color: rgb(141, 134, 134);
    aspect-ratio: 1.8 /1;

    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.panelText{
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    padding: 2em;
    padding-top: 1em;
    color: white;
}

.panelText > h3, p, .panelLink{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.panelText > p{
    min-height: 5.5em;
}

.panelLink{
    max-width: 180px;
    min-height: 3.5em;
    align-self: center;

    padding: 0.5em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s ease;
    -webkit-border-radius: 5px;
}


.panelText > ul{
    font-family: 'Open Sans', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    align-self: center;
}

.panel:nth-child(3n-2) > .panelText{
    background-color: var(--sign-colour-blue);
}

.panel:nth-child(3n-2) > .panelText > .panelLink{
    background-color: white;
    color: var(--sign-colour-blue);
}

.panel:nth-child(3n-2) > .panelText > .panelLink:hover{
    background-color: var(--sign-colour-blue);
    color: white;
    border: 3px solid white;
    box-shadow: 0px 1px 10px rgb(159, 153, 153);
    font-weight: 600;
}


.panel:nth-child(3n-1) > .panelText{
    background-color: var(--sign-colour-yellow);
}

.panel:nth-child(3n-1) > .panelText > .panelLink{
    background-color: white;
    color: var(--sign-colour-yellow);
}

.panel:nth-child(3n-1) > .panelText > .panelLink:hover{
    background-color: var(--sign-colour-yellow);
    color: white;
    border: 3px solid white;
    box-shadow: 0px 1px 10px rgb(159, 153, 153);
    font-weight: 600;
}

.panel:nth-child(3n) > .panelText{
    background-color: var(--sign-colour-red);
}

.panel:nth-child(3n) > .panelText > .panelLink{
    background-color: white;
    color: var(--sign-colour-red);
}

.panel:nth-child(3n)> .panelText > .panelLink:hover{
    background-color: var(--sign-colour-red);
    color: white;
    border: 3px solid white;
    box-shadow: 0px 1px 10px rgb(159, 153, 153);
    font-weight: 600;

}


@media(max-width: 600px){
    .panelDiv{
        grid-template-columns: 1fr;
    }

    .panelText > p{
        min-height: unset;
    }
    
}


.middleImageContainer{
    max-height: 400px;
    aspect-ratio: 1.7/1;
    width: 100%;
    overflow: hidden;

    background-color: grey;
    position: relative;
}




.socialDiv
{
    display: flex;
    justify-content: left;
    background-color: var(--alter-background);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1em;
}

.socialContainer
{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-family: 'Open Sans', sans-serif;
    max-width: 600px;
}

.socialButtons
{
    display: flex;
    flex-direction: row;
    transform: translateX(-5px);
}

.socialIconStyle
{
    width: 3em;
}

.socialTitle
{
    color: var(--regular-text);
}

.socialHighlight
{
    font-weight: 600;
    color: var(--sign-colour-blue);
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.socialHighlight > p{
    font-weight: 900;
}

.socialParagraph
{
    font-size: 14px;
    text-align: left;
}

.socialImage
{
    display: none;
}

@media (min-width: 600px)
{
    .socialImage
    {
        display: block;
    }

    .socialDiv
    {
        justify-content: center;
    }
}

.contactPanel
{
    background-color: var(--sign-colour-red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;

    padding: 2em;
}

.contactPanel > h2
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 25px;
    max-width: 900px;
    font-weight: 100;
}

.contactPanelBold
{
    font-weight: 900;
}

