.headImageContainer{
    max-height: 200px;
    aspect-ratio: 1/2;
    width: 100%;
    background-color: gray;
    overflow: hidden;

    position: relative;
}

.headImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 100% 60%;
}

.iconStyle{
    width: 1.5em;
    background-color: transparent;
}

.headerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 80%;
    gap: 15px;
    background-color: white;
    max-width: 1000px;
    -webkit-border-radius: 25px;
}

.headerDiv > h1{
    color: var(--title-color);
}

.headerDiv > p{
    font-family: 'Open Sans', sans-serif;
    color: var(--body-text-colour);
    width: 80%;
}

@media (min-width: 600px){
    .headImageContainer{
        max-height: 300px;
    }

    .headImage{
        object-position: 100% 50%;
    }

    .headerDiv{
        transform: translateY(-50px);
    }
}

@media (min-width: 900px){
    .headImage{
        object-position: 100% 60%;
    }
}